<div class="landing">
  <div class="title">The Aquarium App</div>
    <div class="main-login">
      <%= link_to "Login", new_session_path, class: "link add" %>
      <%= link_to "Register", new_user_path, class: "link add" %>
    </div>
  </div>
</div>
