<div class="landing">
  <div class="title">Aquarium App</div>
  <div class="fish"><h3>A place to keep your internet fish!</h3></div>
    <div class="main-login">
      <%= link_to "Login", new_session_path, class: "link add" %>
      <%= link_to "Register", new_user_path, class: "link add" %>
    </div>
  </div>
</div>
