<div class="content">
  <h2 class="title">Create Account</h2>
  <div class="register-form">
    <%= form_for @user do |f| %>
      <%= f.text_field :username, placeholder: 'Username' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.submit 'Register' %>
    <% end %>
  </div>
</div>
