<div class="content">
  <% if current_user.items.present? %>
  <h2>You have <%= current_user.items.count %> fish in your aquarium</h2>
  <% else %>
  <h2>You have nothing in your aquarium!</h2>
  <% end %>
  <% @items.each do |item| %>
    <div class="item">
      <%= link_to item.name, item_path(item), class: "link" %>
    </div>
  <% end %>
  <br>
  <%= link_to 'Add New Fish', new_item_path, class: "link add" %>
  <br>
  <%= link_to 'Back To Your Aquarium', users_path, class: "link add" %>
</div>
