<div class="content">
  <% if current_user.items.present? %>
  <h2 class="item-title">You have <%= current_user.items.count %> fish in your aquarium:</h2>
  <% else %>
  <h2 class="item-title">You have no fish in your aquarium!</h2>
  <% end %>
  <% @items.each do |item| %>
    <div class="listed-item">
      <%= link_to item.name, item_path(item), class: "link fish" %>
    </div>
  <% end %>
  <br>
  <div class="item-nav-links">
    <%= link_to 'Add New Fish', new_item_path, class: "link add" %>
    <%= link_to 'View Aquarium', users_path, class: "link add" %>
  </div>
</div>
