.item.active.fish-a {
	background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/fish-a.png);
	position: absolute;
	height: 109px;
	width: 148px;
	left: 100px;
	top: 55%;
	z-index: 90;
	animation:swimA 20s infinite linear;
	-moz-animation:swimA 20s infinite linear;
	-webkit-animation:swimA 20s infinite linear;
}

.item.active.fish-b {
	background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/fish-b.png);
	position: absolute;
	height: 85px;
	width: 120px;
	left: 200px;
	top: 30%;
	z-index: 80;
	animation:swimB 18s infinite linear;
	-moz-animation:swimB 18s infinite linear;
	-webkit-animation:swimB 18s infinite linear;
}

.item.active.fish-c {
	background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/fish-c.png);
	position: absolute;
	height: 150px;
	width: 150px;
	left: 200px;
	top: 80%;
	z-index: 10;
	animation:swimC 45s infinite linear;
	-moz-animation:swimC 45s infinite linear;
	-webkit-animation:swimC 45s infinite linear;
}
.item.active.fish-d {
	background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/fish-d.png);
	position: absolute;
	height: 197px;
	width: 110px;
	left: 100px;
	top: 55%;
	z-index: 90;
	animation:swimD 33s infinite linear;
	-moz-animation:swimD 33s infinite linear;
	-webkit-animation:swimD 33s infinite linear;
}
.item.active.fish-e {
	background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/fish-e.png);
	position: absolute;
	height: 80px;
	width: 120px;
	left: 100px;
	top: 55%;
	z-index: 90;
	animation:swimE 20s infinite linear;
	-moz-animation:swimE 20s infinite linear;
	-webkit-animation:swimE 20s infinite linear;
}
.item.active.fish-f {
	background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/fish-f.png);
	position: absolute;
	height: 80px;
	width: 111px;
	left: 91px;
	top: 20%;
	z-index: 90;
	animation:swimF 28s infinite linear;
	-moz-animation:swimF 28s infinite linear;
	-webkit-animation:swimF 28s infinite linear;
}
// .item.active.fish-g {
// 	background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/fish-g.png);
// 	position: absolute;
// 	height: 80px;
// 	width: 120px;
// 	left: 100px;
// 	top: 65%;
// 	z-index: 90;
// 	animation:swim 30s infinite linear;
// 	-moz-animation:swim 30s infinite linear;
// 	-webkit-animation:swim 30s infinite linear;
// }
@keyframes swimA{
	from{
		left:5%;
		top:40%;
	}
	25%{
		left:20vw;
		top:60%;
	}
	30%{
		left:35vw;
		top:45%;
	}
	40%{

	}
	49%{
		left:85%;
	}
	50%{
		left:86%;
		transform:scaleX(1);
	}
	50.5%{
		transform:scaleX(-1);
	}
	51%{

	}
	60%{

	}
	70%{
		left:35vw;
		top:45%;
	}
	85%{
		left:20vw;
		top:60%;
	}
	99%{
		transform:scaleX(-1);
	}
	99.5%{
		transform:scaleX(1);
	}
	100%{
		left:5%;
		top:40%;
	}
}
@keyframes swimB{
	from{
		left:65%;
		top:30%;
	}
	25%{
		left:40%;
		top:50%;
	}
	30%{

	}
	40%{
		left:20%;
		top:70%;
	}
	49%{
		left:10%;
	}
	50%{
		left:9%;
		transform:scaleX(1);
	}
	50.5%{
		transform:scaleX(-1);
	}
	60%{
		left:20%;
		top:70%;
	}
	70%{

	}
	85%{
		left:40%;
		top:50%;
	}
	99%{
		transform:scaleX(-1);
	}
	99.5%{
		transform:scaleX(1);
	}
	100%{
		left:65%;
		top:30%;
	}
	to:{

	}
}
@keyframes swimC{
	from{
		left:20%;
		bottom:10%;
	}
	25%{
		left:30%;
		bottom:30%;
	}
	30%{
		left:35%;
		bottom:50%;
	}
	40%{
		left:60%;
		bottom:45%;
	}
	49%{
		top:22%;
		bottom:30%;
	}
	50%{
		left:86%;
		transform:scaleX(1);
	}
	50.5%{
		transform:scaleX(-1);
	}
	51%{

	}
	60%{
		bottom:45%;
	}
	70%{
		left:35%;
		bottom:50%;
	}
	85%{
		left:30%;
		bottom:30%;
	}
	99%{
		transform:scaleX(-1);
	}
	99.5%{
		transform:scaleX(1);
	}
	100%{
		left:20%;
		bottom:10%;
	}
}
@keyframes swimD{
	from{
		left:75%;
		top:20%;
	}
	25%{
		left:65%;
		top:30%;
	}
	30%{
		left:60%;
		top:35%;
	}
	40%{

	}
	49%{
		left:55%;
	}
	50%{
		left:54%;
		transform:scaleX(1);
	}
	50.5%{
		transform:scaleX(-1);
	}
	51%{

	}
	60%{

	}
	70%{
		left:65%;
		top:25%;
	}
	85%{
		left:60%;
		top:30%;
	}
	99%{
		transform:scaleX(-1);
	}
	99.5%{
		transform:scaleX(1);
	}
	100%{
		left:75%;
		top:20%;
	}
}
@keyframes swimE{
	from{
		left:85%;
	}
	20%{
		left:60vw;
		top:60%;
	}
	30%{

	}
	40%{

	}
	49%{
		left: 2%;
	}
	50%{
		left:1%;
		transform:scaleX(1);
	}
	50.5%{
		transform:scaleX(-1);
	}
	51%{

	}
	60%{

	}
	70%{

	}
	80%{
		left:60vw;
		top:60%;
	}
	99%{
		transform:scaleX(-1);
	}
	99.5%{
		transform:scaleX(1);
	}
	100%{
		left:85%;
	}
	to{

	}
}
@keyframes swimF{
	from{
		left:0%;
		top:80%
	}
	20%{
		left:20vw;
		top:60%;
	}
	30%{
		left:50vw;
		top:30%;
	}
	40%{
		left:60vw;
	}
	50%{
		left: 89%;
		transform:scaleX(1);
	}
	50.5%{
		transform:scaleX(-1);
	}
	60%{
		left:60vw;
	}
	70%{
		left:50vw;
		top:30%;
	}
	80%{
		left:20vw;
		top:60%;
	}
	99%{
		transform:scaleX(-1);
	}
	99.5%{
		transform:scaleX(1);
	}
	100%{
		top:80%;
		left:0%;
	}
	to{

	}
}
