html, body {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: helvetica;
}
//Landing Page
.landing {
  text-align: center;
  margin-top: 50px;
}
.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5em;
  color: #3BA0E8;
}
.main-login {
  margin-top: 50px;
}
//Links
.link {
  text-decoration: none;
}
.link.add {
  background: #FF687D;
  padding: 5px 8px 5px 8px;
  border-radius: 20px;
  color: white;
  margin:0px 20px 0px 20px;
}
.link.add:hover {
  background: #3BA0E8;
}
//Nav
nav {
  display: flex;
  flex-direction: row;
  background-color: #FF687D;
  height: 50px;
  border-bottom: 10px solid #3BA0E8;
  justify-content: flex-end;
}
nav .link {
  color: white;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 5px;
}
i {
  margin-top: -5px;
}
li .login {
  flex-grow: 1;
}
//Main Content
.main {
  flex: 1;
  background-color: #27E6EE;
  background: -webkit-linear-gradient(#27E6EE 60%, #27D9EE, #27C4EE);
  background: -o-linear-gradient(#27E6EE 60%, #27D9EE, #27C4EE);
  background: -moz-linear-gradient(#27E6EE 60%, #27D9EE, #27C4EE);
  background: linear-gradient(#27E6EE 60%, #27D9EE, #27C4EE);
  border-bottom: 50px solid #D8F9C0;
  position: relative;
}
.content {
  text-align: center;
  padding: 10px;
  width: 60vw;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  border-top: 10px solid #3BA0E8;
  z-index: 100;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
input {
  text-align: center;
}
.login-h4 {
  color: #3BA0E8;
}
.link.register {
  color: #FF687D;
}
.register-form {
  margin-bottom: 20px;
}
.listed-item {
  text-align: left;
  margin: 0 auto;
  margin-left: 30%;
}
.item-title {
  font-family: 'Quicksand', sans-serif;
  color: #3BA0E8;
}
.fish {
  color: #3BA0E8;
  display: block;
}
.item-nav-links {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-group {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}
//Flash Messages
.notice, .error {
  text-align: center;
  background: #FF687D;
  width: 50vw;
  margin: 0 auto;
  border-radius: 20px;
}
.notice h2 {
  color: white;
}
h4 {
  color: white;
}

// Bubbles
.bubble1 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 35vw;
  animation:bubbles 10s infinite linear;
	-moz-animation:bubbles 10s infinite linear;
	-webkit-animation:bubbles 10s infinite linear;
}
.bubble2 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 37vw;
  animation:bubbles 8s infinite linear;
	-moz-animation:bubbles 8s infinite linear;
	-webkit-animation:bubbles 8s infinite linear;
}
.bubble3 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 40vw;
  animation:bubbles 15s infinite linear;
	-moz-animation:bubbles 15s infinite linear;
	-webkit-animation:bubbles 15s infinite linear;
}

.bubble4 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 66vw;
  animation:bubbles 5s infinite linear;
	-moz-animation:bubbles 5s infinite linear;
	-webkit-animation:bubbles 5s infinite linear;
}
.bubble5 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 63vw;
  animation:bubbles 12s infinite linear;
	-moz-animation:bubbles 12s infinite linear;
	-webkit-animation:bubbles 12s infinite linear;
}
.bubble6 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 67vw;
  animation:bubbles 7s infinite linear;
	-moz-animation:bubbles 7s infinite linear;
	-webkit-animation:bubbles 7s infinite linear;
}

.bubble7 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 67vw;
  animation:bubbles 7s infinite linear;
	-moz-animation:bubbles 7s infinite linear;
	-webkit-animation:bubbles 7s infinite linear;
}
.bubble8 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 90vw;
  animation:bubbles 8.5s infinite linear;
	-moz-animation:bubbles 8.5s infinite linear;
	-webkit-animation:bubbles 8.5s infinite linear;
}
.bubble9 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12vw;
  animation:bubbles 8.5s infinite linear;
	-moz-animation:bubbles 8.5s infinite linear;
	-webkit-animation:bubbles 8.5s infinite linear;
}
.bubble10 {
  background: rgba(255, 255, 255, .6);
  border-radius: 25px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10vw;
  animation:bubbles 10s infinite linear;
	-moz-animation:bubbles 10s infinite linear;
	-webkit-animation:bubbles 10s infinite linear;
}

@keyframes bubbles{
  from {
    bottom: 0px;

  }
  to{
    bottom: 90%;
  }
  100%{
    background: rgba(255, 255, 255, 0);
  }
}

//Aquarium Content
.aquarium {
  height: 100%;
}
.aquarium-floor {
  width: 100%;
  display: flex;
}
.floor-wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.rock1 {
  position: absolute;
  left: 40vw;
  bottom: 0px;
  margin-bottom: 1vh;
  background:grey;
  width: 20vw;
  height: 60px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rock2 {
  position: absolute;
  left: 34vw;
  bottom: 0px;
  background: #8B8F8E;
  width: 20vw;
  height: 35px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rock3 {
  position: absolute;
  left: 65vw;
  bottom: 0px;
  background:grey;
  width: 30vw;
  height: 100px;
  margin-bottom: 1vh;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rock4 {
  position: absolute;
  left: 10vw;
  bottom: 0px;
  background:#8B8F8E;
  width: 15vw;
  height: 50px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 100;
}
.rock5 {
  position: absolute;
  left: 60vw;
  bottom: 0px;
  background:#91A7AD;
  width: 25vw;
  height: 35px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rock6 {
  position: absolute;
  left: -2vw;
  bottom: 0px;
  background:#91A7AD;
  width: 15vw;
  height: 60px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rock7 {
  position: absolute;
  left: 50vw;
  bottom: 0px;
  background:#91A7AD;
  width: 7vw;
  height: 20px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rock8 {
  position: absolute;
  left: 5vw;
  bottom: 0px;
  background:grey;
  width: 22vw;
  height: 100px;
  margin-bottom: 2vh;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.coral-1 {
  background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/coral-1.png);
  position: absolute;
  height: 89px;
  width: 78px;
  left: 60vw;
  bottom: 0px;
}
.coral-2 {
  background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/coral-2.png);
  position: absolute;
  height: 89px;
  width: 82px;
  left: 3vw;
  bottom: 0px;
}
.coral-3 {
  background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/coral-3.png);
  position: absolute;
  height: 90px;
  width: 82px;
  left: 30vw;
  bottom: 0px;
}
.coral-4 {
  background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/coral-4.png);
  position: absolute;
  height: 103px;
  width: 71px;
  left: 80vw;
  bottom: 0px;
}
.grass-1 {
  background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/grass-1.png);
  position: absolute;
  height: 150px;
  width: 108px;
  left: 10vw;
  bottom: 0px;
}
.grass-2 {
  background: url(https://s3.us-east-2.amazonaws.com/aquarium-app/grass-2.png);
  position: absolute;
  height: 140px;
  width: 103px;
  left: 90vw;
  bottom: 0px;
  margin-bottom: 2vh;
}

//Footer
footer {
  text-align: center;
  height: 50px;
  background-color: #D8F9C0;
}
@media only screen and (max-width: 500px) {
  .content {
    min-width: 80vw;
  }
}
@media only screen and (max-width: 768px) {
  .content input {
    display: flex;
    flex-direction: row;
    margin: 0px 2px 10px 0px;
    max-height: 300px;
  }
  .form {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .login-h4 {
    margin-bottom: 0;
  }
   input {
    justify-content: center;
    text-align: center;
  }
  .item-nav-links {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
  }
  .item-nav-links .link {
    min-width: 30vw;
    margin: 0 auto;
    margin-top: 10px;
  }
  .show-fish {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
